.project
.vscode/*
backup/*
!backup/.gitkeep
bad_logins/*
!bad_logins/.gitkeep
config/*
db/*
downloads/*
!downloads/.gitkeep
kh-songs/*
!kh-songs/.gitkeep
logins
!logins/.gitkeep
records/*
!records/.gitkeep
z_archives
