/**********CSS*******/
body{
	margin:0;
	padding:0;
	font-size:16px;
	color:black;
	font-family: sans-serif;
	background-color:#eee;
	overflow-x:hidden;
}
#login, #quick_login{
	width:100%;
	text-align:center;
}
#login{
	display:none;
}
#login form, #pad{
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	background-color:white;
	width:180px;
		padding:10px;
		margin:10px auto;
		border-radius:3px;
			text-align:center;
}
#login a, #quick_login a{
color :rgba(0,0,0,0.4);
text-decoration:none;
}
#login a:hover, #quick_login a:hover{
color :rgba(0,0,0,0.6);
text-decoration:underline;
}
.pad_number {
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	list-style-type:none;
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:50%;
	border: 1px solid rgba(255,255,255,0.2);
	text-align:center;
	font-size:36px;
	margin:5px;
	color: rgba(255, 255, 255, 0.6);
    text-shadow:  0 -1px 0 #000;
	transition:background-color 0.1s;
}
.pad_number:hover {
	background-color:rgba(0,0,0,0.2);
	cursor:pointer;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
}
#hash{
	background:linear-gradient( rgba(235,105,29,0.8), rgba(235,105,29,0.5));
	text-shadow:  0 -1px 0 #fff;
	color: rgba(235,105,29, 0.3);
}
#hash:hover{
	background:linear-gradient( rgba(235,105,29,1), rgba(235,105,29,0.7));
}
#login-message{
	color :#EB691D;
	height:14px;
	width:200px;
	margin: 0 auto;
	font-size:14px;
	padding-bottom:20px;
	text-align:center;
}
#hint{
	text-align:center;
	padding: 20px;
}
#titles{
	width:200px;
		margin:0 auto;
		height:80px;
		padding:20px 10px;
		text-align:center;
}
#title1{
	font-size:40px;
	display:inline;
	    color: rgba(255, 255, 255, 0.6);
    text-shadow: 1px 2px 3px #fff, 0 0 0 #000;
	font-weight:400;
}
#title2{
	font-size:30px;
	display:inline;
		    color: rgba(255, 255, 255, 0.3);
    text-shadow: 1px 2px 3px #fff, 0 0 0 #000;
	font-style:italic;
	font-weight:300;
}
#input_login{
	width:180px;
	height:36px;
	margin: 10px 0px;
	font-size:13px;
	font-weight:700;
	background:linear-gradient( rgba(235,105,29,0.8), rgba(235,105,29,0.5));
	border: 1px solid rgba(0,0,0,0.1);
	text-shadow:  0 -1px 0 #fff;
	color: rgba(235,105,29, 0.2);
	border-radius:2px;
	box-shadow: 0 0px 2px rgba(0,0,0,0.5);
}
#input_login:hover{
cursor:pointer;
box-shadow: 0 0px 4px rgba(0,0,0,0.7);
background:linear-gradient( rgba(235,105,29,1), rgba(235,105,29,0.7));
}
.field_login{
	width:180px;
	height: 44px;
	border: none;
	font-size:16px;
	padding:0 8px;
	margin:10px 0px;
	background-color: rgba(0, 0, 0, 0.1);
	color:rgba(0, 0, 0, 0.5);
	 box-shadow:  inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.field_login:hover{
	 box-shadow:  inset 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.field_login:focus{
	border: 1px solid #EB691D;
	color:rgba(0, 0, 0, 0.9);
	background-color: white;
	box-shadow:none;
}
#menu a{
	color:#EB691D;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover{
	color:red;
}
#page a {
	color:#EB691D;
	text-decoration:none;

}
#page a:hover{
	color:red;
}
#feeds{
	position:relative;
	padding-left:10px;
}
#feeds u{
	color:red;
	text-decoration:none;
}
.live_user{
	width:190px;
	height:200px;
	float:left;
}
.stop{
	color:red;
}