/**********CSS*******/
#login{
	width:100%;
}
#login form{
	border: 1px solid grey;
	background-color:white;
	width:180px;
		padding:10px;
		margin:0 auto;
}
#titles{
	width:200px;
		margin:0 auto;
		height:30px;
		padding-top:10px;
}
#title1{
	font-size:30px;
	color:#aaa;
	display:inline;
}
#title2{
	font-size:20px;
	display:inline;
}
#title_mobile{
	font-size:20px;
	color:#aaa;
	display:inline;
}
#login-message{
	color :#EB691D;
	height:14px;
	width:200px;
	margin: 0 auto;
	font-size:14px;
	padding-bottom:20px;
}
#lines{
display:none;
}
#title3 {
	position:absolute;
	font-size:30px;
	color:#aaa;
	left:20px;
	z-index:103;
}
#title4 {
	position:absolute;
	font-size:20px;
	left:68px;
	top:9px;
	z-index:103;
}
#title_mobile2{
	position:absolute;
	font-size:20px;
	top:9px;
	left:115px;
	color:#aaa;
	z-index:103;
}
#menu {
	font-size: 15px;
	color:#EB691D;
	width:100%;
	text-align:center;
	min-height:20px;
	border-bottom: 1px solid grey;
	padding-top:10px;
	z-index:102;
	background-color:white;
}
#logout{
	font-size: 15px;
	color:#EB691D;
	height:31px;
	width:100%;
	text-align:right;
	z-index:102;
	background-color:white;
}
#logout a{
	color:#EB691D;
	text-decoration:none;
	font-weight:bold;
	top:8px;
	right:20px;
	position:absolute;
}
#live{
	font-size: 14px;
	color:white;
	width:100%;
	height:20px;
	background-color:#aaa;
	text-align:left;
	z-index:101;
}
#live u {
	padding-left:20px;
	color:#38f31a;
	text-decoration:none;
}
#live i {
	padding-left:20px;
	color:red;
}
#page{
	top:80px;
	padding:10px;
	z-index:100;
	overflow-y:auto;
	padding-bottom:30px;
	background-color:white;
}
#page table {
	background-color:#eee;
	width:300px;
}
#sms_small{
	color:white;
	background-color:grey;
	min-height:30px;
	font-size:20px;
	text-align:center;
	margin-top:20px;
	padding:10px;
}
#sms_small:hover{
	text-decoration:underline;
	cursor:pointer;
}
#sms{
	display:none;
	border:1px solid grey;
	width: 400px;
	margin-top:30px;
	padding:10px;
	background-color:#eeeeee
}
#p_no{
	width:390px;
}
#answer{
	width:390px;
	height:100px;
}
#send{
	float:right;
}
#songs{
	position:absolute;
	top:100px;
	right:0px;
	width:300px;
	background-color:#AAAAAA;
	border: 1px solid black;
	height:320px;
	z-index:200;
	display:none;
	padding: 5px;
}
#songs audio{
	width:100%;
}
#songs a, #song-small a {
	color:white;
	text-decoration:none;
	font-weight:bolder;
}
#song-small{
	position:absolute;
	top:100px;
	right:0px;
	width:30px;
	background-color:#AAAAAA;
	border: 1px solid black;
	height:320px;

	z-index:200;
	text-align:center;
}
#meeting{
	width:100%;
	height:500px;
	border:0px;
}
#error_msg{
	top: 52px;
	color:red;
	text-align:center;
	width:100%;
	z-index:110;
}
#ok_msg{
	top: 52px;
	color:green;
	text-align:center;
	width:100%;
	z-index:110;
}
#footer{
	display:block;
	width:100%;
	border-top: 1px solid grey;
	height: 20px;
	z-index:102;
	color:#EB691D;
	font-size:12px;
	text-align:center;
	padding-top:5px;
	background-color:white;

}